.course-unit{
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    margin-right: 50px;
    border-radius: 10px;
}
.course-unit:hover{
    box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.1);
}
.course-unit button{
    margin-top: 10px;
    width: 180px;
    height: 40px;
    border-radius: 8px;
}